@font-face {
	font-family: 'Roboto';
	src: url('res/font/Roboto/Roboto-Light.ttf');
}

head,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	font-family: 'Roboto';
	background-color: rgb(20, 20, 20);
}

h {
	font-size: 3rem;
}

h1 {
	font-size: 3rem;
}

p {
	font-size: 1.5rem;
}

.dark-theme {
    background-color: #1e1f1c;
	color: #c8c8c8;
}

.relative {
	position: relative;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}

.h-box {
	display: flex;
  	align-items: center;
	justify-content: center;
}

.v-box {
	display: flex;
	flex-direction: column;
  	align-items: center;
	justify-content: space-evenly;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}


/* HOME */

#info {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/02.png);
}

#top-img {
    display: flex;
    align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;
}

#h-hello {
	width: 400px;
	color: #ffffff;
	letter-spacing: 8px;
}

#h-hello h {
    /* font-size: 35px; */
	filter: drop-shadow(2px 2px 1px rgb(60, 60, 60));
}

#h-hello p {
    font-size: 1rem;
	filter: drop-shadow(1px 1px 0.5px rgb(60, 60, 60));
}

#pp {
	filter: drop-shadow(0px 0px 4px rgb(60, 60, 60));
	border-radius: 100%;
	border: 4px solid #ddd;
	width: 128px;
	height: 128px;
	margin-bottom: 20px;

	display: block;
}

.down-arrow {
	width: 64px;
	height: 64px;
}

/* ABOUT */

#about {
	padding: 30px;
    text-align: center;
}

#about a {
	text-decoration: none;
}

.social-img {
	width: 48px;
	height: 48px;
	margin: 16px;
	
}

.social-img:hover {
	filter: brightness(100%) hue-rotate(111deg) saturate(300%);
	transition: 0s;
}

.social-img:not(hover) {
	filter: sepia(0%) saturate(0%) brightness(70%) hue-rotate(0deg);
	transition: 0.3s;
}

/* #s2:not(hover) {
	filter: brightness(70%);
	transition: 0.3s;
} */
#s1:hover {
	filter: sepia(0%) saturate(0%) brightness(100%) hue-rotate(0deg);
}
#s2:hover {
	filter: sepia(100%) saturate(1000%) brightness(60%) hue-rotate(290deg);
}
#s3:hover {
	filter: sepia(100%) saturate(1000%) brightness(50%) hue-rotate(140deg);
}
#s4:hover {
	filter: sepia(100%) saturate(1000%) brightness(70%) hue-rotate(130deg);
}

#mid-img {
    height: 40vh;
	width: auto;

    background-image: url("res/img/MoM.jpg");
}

/* SKILLS */

#skills {
	padding: 20px;
}

#skills p {
	width: 90%;
	margin: 20px;
	height: 170px;
}

#skills-container {
	margin-top: 40px;
}

.skills-box1 {
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

.skills-box2 {
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

/* .skills-box1 p {
	justify-content: right;
	text-align: right;
}

.skills-box2 p {
	justify-content: left;
	text-align: left;
} */

.sketchfab-embed-wrapper {
	/* height: 400px; */
	height: 30rem;
	width: 90%;
}

.sketchfab-embed-wrapper iframe {
	height: 100%;
	width: 100%;
	border: none;
}

/* TERMINAL */

.hidden {
  opacity:0;
}
.console-container {
	font-family: 'Courier New', monospace;
	font-size: 2em;
	background-color: rgb(20, 20, 20);
	align-items: flex-start;
	justify-content: left;
	width: 90%;
	height: 30rem;
  
	text-align:left;
	color:white;
}

#console {
	bottom: 2px;
}

/* PROJECTS */

#bot-img {
    height: 40vh;
    background-image: url("res/img/house-dev.jpg");
}

#project-image {
	border-radius: 3%;
	border: 0px solid #ddd;
	width: 550px;
	height: 350px;
	margin-bottom: 20px;
	object-fit: cover;

	display: block;
}

.project-arrow {
	width: 58px;
	height: 80px;
	margin: 10px;
	margin-bottom: 30px;
}


.project-arrow:hover {
	filter: brightness(100%);
	transition: 0.3s;
}

.project-arrow:not(hover) {
	filter: brightness(70%);
	transition: 0.3s;
}

#projects {
	padding: 0px;
}

#projects p {
	height: 20vh;
	margin-left: 15px;
	margin-right: 15px;
}

#project-container object {
	width: 58px;
	height: 80px;
	margin: 10px;
	margin-bottom: 30px;
	pointer-events: none;

	filter: brightness(70%);
	transition: 0.3s;
}

#project-container object:hover {
	filter: brightness(100%);
	transition: 0.3s;
}

/* CONTACT */

#footer-img {
    height: 40vh;
    background-image: url("res/img/Savannah.png");
}

#contact {
	padding: 60px;
}

#contact button {
    border: none;
    margin: 0;
	padding: 0;
	
	border: 1px solid rgb(30, 31, 28);
    float: left;
    display: block;
    color: rgb(200,200,200);
	font-size: 1.1rem;

    text-align: center;
	text-decoration: none;
	
	margin: 20px;
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    
    transition: background 0.2s;
}

#contact button:not(.active-editor-btn) {
    background-color: rgb(47, 49, 41);
}

#contact button:hover:not(.active-editor-btn) {
    background-color: rgb(65, 67, 58);
}

.input-field {
	background-color: rgb(20, 20, 20);
	color: rgb(200,200,200);
	border: none;
	font-size: 23px;
	margin-bottom: 25px;
	font-family: 'Courier New', monospace;
}

#source {
	color: rgb(65, 67, 58);
	background-color: rgb(20, 20, 20);
	padding: 10px;
}
#source a {
	color: rgb(95, 97, 88);
}
#source a:hover {
	color: rgb(65, 67, 58);
}

@media (max-width:800px) {

	#skills-container {
		flex-direction: column;
	}

	.skills-box1 {
		width: 100%;
	}
	.skills-box2 {
		width: 100%;
	}

	#mailtext {
		width: 400px;
	}

	#project-image {
		
		width: 200px;
		height: 140px;
		
	}
}

@media (max-width:568px) {
    /* .parallax {
        background-attachment: scroll;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    } */

	#mailtext {
		width: 300px;
	}

	#info {
		background-image: none;
	}
}

/* OPERA */
#detach-button-host {
	display: none;
}