head,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	font-family: 'Roboto';
	background-color: rgb(20, 20, 20);
}

@font-face {
	font-family: 'Roboto';
	src: url('res/font/Roboto/Roboto-Light.ttf');
}

.dark-theme {
    background-color: rgb(30, 31, 28);
	color: #f2f2f2;
	color: rgb(200,200,200);
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}


/* HOME */

#top-img {
    display: flex;
    align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;

    background-image: url("res/img/top-bg.jpg");
}

#h-hello {
    color: #f2f2f2;
    font-size: 3vw;
    letter-spacing: 8px;
}

#pp {
	border-radius: 100%;
	border: 4px solid #ddd;
	max-width: 100px;
	max-height: 100px;
}

/* ABOUT */

#about {
	padding: 30px;
    text-align: center;
}

#mid-img {
    height: 50vh;
	width: auto;

    background-image: url("res/img/mid-bg.jpg");
}

/* SKILLS */

#skills {
	padding: 20px;
}

#editor-container {
	background-color: rgb(30, 31, 28);
	height: 60vh;
}

#editor {
    width: 100%;
    height: 80%;
	font-size: 1.5em;
}

#editor-nav {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

#editor-nav button {
    border: none;
    margin: 0;
	padding: 0;
	
	border: 1px solid rgb(30, 31, 28);
    float: left;
    display: block;
    color: rgb(200,200,200);
	font-size: 1.1rem;

    text-align: center;
	text-decoration: none;
	
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    
    transition: background 0.2s;
}

#editor-nav button:not(.active-editor-btn) {
    background-color: rgb(47, 49, 41);
}

#editor-nav button:hover:not(.active-editor-btn) {
    background-color: rgb(65, 67, 58);
}

.active-editor-btn {
	color: rgb(240,240,240);
    background-color: rgb(30, 31, 28);
}

/* CONTACT */

#bot-img {
    height: 50vh;
    background-image: url("res/img/spc.jpg");
}

#contact {
	padding: 60px;
}

#source {
	color: rgb(65, 67, 58);
	background-color: rgb(20, 20, 20);
	padding: 10px;
}
#source a {
	color: rgb(95, 97, 88);
}
#source a:hover {
	color: rgb(65, 67, 58);
}

@media (max-width:568px) {
    .parallax {
        background-attachment: scroll;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    }
}