head,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	font-family: 'Roboto';
	background-color: rgb(20, 20, 20);
}

@font-face {
	font-family: 'Roboto';
	src: url('res/font/Roboto/Roboto-Light.ttf');
}

.dark-theme {
    background-color: rgb(30, 31, 28);
	color: #f2f2f2;
	color: rgb(200,200,200);
}

.relative {
	position: relative;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}

/* video {
	object-fit: fill;
	
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
} */

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
  }


/* HOME */

#info {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-img {
    display: flex;
    align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;
}

#h-hello {
	width: 400px;
	
	color: #ffffff;
	
	font-size: 35px;
	
	letter-spacing: 8px;
}

#h-hello p {
    font-size: 10px;
}

#pp {
	border-radius: 100%;
	border: 4px solid #ddd;
	width: 128px;
	height: 128px;
	margin-bottom: 20px;

	display: block;
}

/* ABOUT */

#about {
	padding: 30px;
    text-align: center;
}

#mid-img {
    height: 50vh;
	width: auto;

    background-image: url("res/img/mid-bg.jpg");
}

/* SKILLS */

#skills {
	padding: 20px;
}

/* CONTACT */

#bot-img {
    height: 50vh;
    background-image: url("res/img/spc.jpg");
}

#contact {
	padding: 60px;
}

#source {
	color: rgb(65, 67, 58);
	background-color: rgb(20, 20, 20);
	padding: 10px;
}
#source a {
	color: rgb(95, 97, 88);
}
#source a:hover {
	color: rgb(65, 67, 58);
}

@media (max-width:568px) {
    .parallax {
        background-attachment: scroll;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    }
}