/* @font-face {
	font-family: 'Roboto';
	src: url('res/font/Roboto/Roboto-Light.ttf');
} */

.anim-fade-up-disabled {
	opacity: 0;
	/* filter: blur(5px); */
	transform: translateY(30%);
	transition: all 1s;
}

.anim-fade-up-enabled {
	opacity: 1;
	/* filter: blur(0); */
	transform: translateY(0);
	transition: all 1s;
}

.anim-fade-right-disabled {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.anim-fade-right-enabled {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
	transition: all 1s;
}

.anim-fade-left-disabled {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(100%);
	transition: all 1s;
}

.anim-fade-left-enabled {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
	transition: all 1s;
}

.dark-theme {
    background-color: #1e1f1c;
	color: #c8c8c8;
}

.relative {
	position: relative;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}

.h-box {
	display: flex;
  	align-items: center;
	justify-content: center;
}

.v-box {
	display: flex;
	flex-direction: column;
  	align-items: center;
	justify-content: space-evenly;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}


/* HOME */

#info {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/02.png);
}

#top-img {
    display: flex;
    align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;
}

#h-hello {
	width: 28rem;
	color: #ffffff;
	letter-spacing: 8px;
}

#h-hello h1 {
    /* font-size: 35px; */
	filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
	font-weight: bolder;
}

#h-hello p {
    /* font-size: 1rem; */
	filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
	font-weight: bolder;
	font-family: 'Roboto Mono', monospace;
}

#pp {
	filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
	border-radius: 100%;
	border: 4px solid #ffffff;
	width: 128px;
	height: 128px;
	margin-bottom: 20px;

	display: block;
}

#scroll-arrow {
	width: 64px;
	height: 64px;
	/* position: fixed; */
	filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
	position: relative;
	top: 20vh;
	animation: moveUpDown 0.7s infinite;
}

@keyframes moveUpDown {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-2vh);
	}
  }

/* ABOUT */

#about {
	padding: 30px;
    text-align: center;
}

#about a {
	text-decoration: none;
}

.social-img {
	width: 48px;
	height: 48px;
	margin: 1rem;
}

.social-img:hover {
	filter: brightness(100%) hue-rotate(111deg) saturate(300%);
	transition: 0s;
}

.social-img:not(hover) {
	filter: sepia(0%) saturate(0%) brightness(70%) hue-rotate(0deg);
	transition: 0.3s;
}

/* #s2:not(hover) {
	filter: brightness(70%);
	transition: 0.3s;
} */
#s1:hover {
	filter: sepia(0%) saturate(0%) brightness(100%) hue-rotate(0deg);
}
#s2:hover {
	filter: sepia(100%) saturate(1000%) brightness(60%) hue-rotate(290deg);
}
#s3:hover {
	filter: sepia(100%) saturate(1000%) brightness(50%) hue-rotate(140deg);
}
#s4:hover {
	filter: sepia(100%) saturate(1000%) brightness(70%) hue-rotate(130deg);
}

.parallax {
	height: 50vh;
}

#mid-img {
    background-image: url("../res/img/MoM.jpg");
}

/* SKILLS */

#skills {
	padding: 20px;
}

#skills p {
	width: 90%;
	margin: 20px;
	min-height: 200px;
}

#skills-container {
	margin-top: 40px;
}

.skills-box1 {
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

.skills-box2 {
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

/* .skills-box1 p {
	justify-content: right;
	text-align: right;
}

.skills-box2 p {
	justify-content: left;
	text-align: left;
} */

#iframe-container {
	/* height: 400px; */
	background-color: rgb(20, 20, 20);
	height: 20rem;
	width: 90%;
}

#iframe-container img {
	/* color: white; */
	color: #1e1f1c;
	height: 30%;
	width: 30%;
}

#iframe-container img:hover {
	filter: hue-rotate(0deg);
	transition: 1s;
}

#iframe-container img:not(hover) {
	transition: 1s;
}


#iframe-container iframe {
	height: 100%;
	width: 100%;
	border: none;
}

/* TERMINAL */

.hidden {
  opacity:0;
}

.console-container {
	/* font-family: 'Courier New', monospace; */
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
	padding: 1.5rem;
	font-size: 2rem;
	background-color: rgb(20, 20, 20);
	align-items: flex-start;
	justify-content: left;
	width: 90%;
	height: 20rem;
  
	text-align:left;
	color:white;
}

#console {
	bottom: 2px;
}

/* PROJECTS */

#bot-img {
    background-image: url("../res/img/sinek.png");
}

#project-image {
	border-radius: 3%;
	border: 0px solid #ddd;
	width: 550px;
	height: 350px;
	margin-bottom: 20px;
	object-fit: cover;

	display: block;
}

.project-arrow {
	width: 58px;
	height: 80px;
	margin: 10px;
	margin-bottom: 30px;
}


.project-arrow:hover {
	filter: brightness(100%);
	transition: 0.3s;
}

.project-arrow:not(hover) {
	filter: brightness(70%);
	transition: 0.3s;
}

#projects {
	padding: 0px;
}

#projects p {
	height: 20vh;
	margin-left: 15px;
	margin-right: 15px;
	min-height: 150px;
}

#project-container object {
	width: 58px;
	height: 80px;
	margin: 10px;
	margin-bottom: 30px;
	pointer-events: none;

	filter: brightness(70%);
	transition: 0.3s;
}

#project-container object:hover {
	filter: brightness(100%);
	transition: 0.3s;
}

/* CONTACT */

#footer-img {
    background-image: url("../res/img/Savannah.png");
	filter: blur(3px);
}

#contact {
	padding: 60px;
}

#contact button {
    border: none;
    margin: 0;
	padding: 0;
	
	border: 1px solid rgb(30, 31, 28);
	border-radius: 4px;
    float: left;
    display: block;
    color: rgb(200,200,200);
	font-size: 1.1rem;

    text-align: center;
	text-decoration: none;
	
	margin: 20px;
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    
    transition: background 0.2s;
}

#contact button:not(.active-editor-btn) {
    background-color: rgb(47, 49, 41);
}

#contact button:hover:not(.active-editor-btn) {
    background-color: rgb(65, 67, 58);
}

.input-field {
	padding: 0.5rem;
	background-color: rgb(20, 20, 20);
	color: rgb(200,200,200);
	border: none;
	border-radius: 4px;
	font-size: 23px;
	margin-bottom: 25px;
	font-family: 'Roboto Mono', monospace;
}

#source {
	color: rgb(65, 67, 58);
	background-color: rgb(20, 20, 20);
	padding: 10px;
}
/* #source a {
	color: rgb(95, 97, 88);
}
#source a:hover {
	color: rgb(65, 67, 58);
} */

@media (max-width:800px) {

	#skills-container {
		flex-direction: column;
	}

	.skills-box1 {
		width: 100%;
	}
	.skills-box2 {
		width: 100%;
	}

	#mailtext {
		width: 400px;
	}

	#project-image {
		width: 200px;
		height: 140px;
	}
}

@media (max-width:568px) {
    /* .parallax {
        background-attachment: scroll;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    } */

	.console-container {
		font-size: 1.6rem;
	}

	.skills-box1 {
		height: 26rem;
	}
	.skills-box2 {
		height: 26rem;
	}

	#h-hello {
		width: 18rem;
		color: #ffffff;
		letter-spacing: 2px;
	}

	h1 {
		font-size: 2.5em;
	}
	
	p {
		font-size: 1.3em;
	}
	
	#h-hello h1 {
		/* font-size: 35px; */
		font-size: 2em;
		filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
		font-weight: bolder;
	}
	
	#h-hello p {
		font-size: 0.9em;
		filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
		font-weight: bolder;
		font-family: 'Roboto Mono', monospace;
	}

	.social-img {
		width: 48px;
		height: 48px;
		margin: 0.3rem;
	}

	#mailtext {
		width: 300px;
	}

	#info {
		background-image: none;
	}
}

/* OPERA */
#detach-button-host {
	display: none;
}